<!DOCTYPE html>
<html>
<head>
  <title>TBco Inventory</title>
</head>
<body>
<nav>
  <ul>
    <li>
      <a href="/products">Products</a>
    </li>
    <li>
      <a href="/manufacturers">Manufacturers</a>
    </li>
  </ul>
</nav>
  <%= yield %>
</body>
</html>
