<!DOCTYPE html>
<html>
<head>
  <title>TBco Inventory</title>
  <link rel='stylesheet' href='/style.css'>
  <h1>Tartan Blanket Company - Inventory</h1>
</head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/products">Products</a>
        </li>
        <li>
          <a href="/manufacturers">Manufacturers</a>
        </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
