body {
    background-color: rgba(85, 78, 43, 0.836);
    color: rgba(252, 209, 166, 0.904);
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;;
    maring: 40px;
  }
  a {
    text-decoration: underline, bold;
    font-size: 22px;
    color: rgba(252, 209, 166, 0.678);
    cursor:pointer;
  }

  table, th, td {
    border: 1px solid black;
    text-align: center;
  }

  input[type=submit] {
    padding:5px 15px; 
    background:rgb(204, 204, 204); 
    border: beige;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}