body {
    background: black url('/images/IMG_2739.JPG');
    background-size: 100%;
    background-repeat: no-repeat;
    color: rgba(54, 18, 51, 0.904);
    font-size: 14px;
    font-family: "Gill Sans", sans-serif;;
    maring: 40px;
  }
  a {
    text-decoration: none;
    font-size: 22px;
    color: rgba(54, 36, 18, 0.904);
    cursor:pointer;
  }

  table, th, td {
    background: rgb(195, 217, 245);
    opacity: 85%;
    border: 1px solid black;
    text-align: center;
  }

  input[type=submit] {
    padding:5px 15px; 
    background:rgb(204, 204, 204); 
    border: beige;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

.form-wrapper {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    margin: 0 0 0 0;
  }

