<form method="post" action="/manufacturers">

  <label for="name-field">Manufacturer:</label>
  <input
  type="text"
  name="name"
  id="name-field"
  />

<label for="address-field">Address:</label>
  <input
  type="text"
  name="address"
  id="address-field"
  />



  <label for="email-field">Email:</label>
  <input
  type="email"
  name="email"
  id="email-field"
  />

    <label for="telephone-price-field">Telephone:</label>
  <input
  type="tel"
  name="tel"
  id="telephone-field"
  />

<label for="product-speciality-field">Product Speciality:</label>
  <input
  type="text"
  name="product_speciality"
  id="product-speciality-field"
  />

  <label for="shipping-times-field">Shipping Estimates:</label>
  <input
  type="text"
  name="shipping_times"
  id="shipping-times-field"
  />

  <input type="submit" value="Add Manufacturer">
  </form>























